<img src="<%= @cover_image %>">
<p><strong>Total Search Resutls:</strong> <%= @total_results %></p>
<p><strong>Title:</strong> <%= @google_book_title %></p>
<p><strong>Authors:</strong> <%= @authors %></p>
<p><strong>Price:</strong> <%= @price %></p>
<p><strong>Rating:</strong> <%= @rating %></p>
<p><strong>Publishers:</strong> <%= @publisher %></p>
<p><strong>Country:</strong> <%= @country %></p>
