<%= @hero.name %>

<table>
    <tr>
        <th>Name</th>
        <th>Powers</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Publisher</th>
    </tr>
    <tr>
        <td><%= @hero.name %></td>
        <td><%= @hero.powers %></td>
        <td><%= @hero.description %></td>
        <td><%= @hero.rating %></td>
        <td><%= @hero.publisher_name %></td>
    </tr>
</table>

<a href="/heroes/<%= @hero.id %>/edit">Edit Hero</a>

<form action="/heroes/<%= @hero.id %>/delete">
        <input type="submit" value="Delete Hero" class="deleteButton" />
</form>
