<h1><%= @author.name %></h1>

<%= image_tag @author.image, :class => 'feature' %>

<ul>
  <li>Date Of Birth: <%= @author.dob.strftime "%B %e, %Y" unless @author.dob.nil? %></li>
  <li>Nationality: <%= @author.nationality %></li>
</ul>

<% @author.books.each do |book| %>
  <%= link_to image_tag(book.image, :class => 'thumb'), book %>
<% end %>

<div class="controls">
  <%= link_to "Edit Author", edit_author_path(@author) %>
  <%= link_to "Delete Author", @author, :method => :delete, :data => {:confirm => 'Are you sure you want to delete this artist?'} %>
</div>
