<h1>A directory of very important albums that I like and are good</h1>

<marquee>bloody listen up mates</marquee>

<div class="home-container">
	<div class="row">
		<img class="home-img" src="<%=@albums[0]['image']%>" alt="<%=@albums[0]['title']%>">
		<img class="home-img" src="<%=@albums[1]['image']%>" alt="<%=@albums[1]['title']%>">
		<img class="home-img" src="<%=@albums[2]['image']%>" alt="<%=@albums[2]['title']%>">
		<img class="home-img" src="<%=@albums[3]['image']%>" alt="<%=@albums[3]['title']%>">
		<img class="home-img" src="<%=@albums[4]['image']%>" alt="<%=@albums[4]['title']%>">
	</div>
	<div class="row-2">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
	</div>

</div>
