<h1><%= @movie.name %></h1>

<ul>

  <%= image_tag @movie.image, :class => "feature"%>
  <li><strong>Director:</strong> <%=  %></li>
  <li><strong>Genre:</strong><%= @movie.genre %></li>
  <li><strong>Release date:</strong><%= @movie.release_date %></li>
  <li><strong>Box office:</strong><%= @movie.box_office %></li>

</ul>
