<div class="movie-info">
<h2><%= @director['name'] %></h2>
<h3><%= @director['born'] %></h3>
<h3><%= @director['movie'] %></h3>
<h4><%= @director['upcoming'] %></h4>
</div>




<% unless @director.image.nil? %>
  <img class="feature" src="<%= @director.image%>" alt="<%= @director.name %>" />
<% end %>

<div class="controls">
  <a href="/directors/<%= @director.id %>/delete">Delete</a>
  <a href="/directors/<%= @director.id %>/edit">Edit</a>
</div>
