<div class="movie-info">
<h2><%= @movie['name'] %></h2>
<h3><%= @movie['genre'] %></h3>
<h3><%= @movie['year'] %></h3>
<h3><%= @movie['director'] %></h3>
</div>




<% unless @movie.image.nil? %>
  <img class="feature" src="<%= @movie.image%>" alt="<%= @movie.name %>" />
<% end %>

<div class="controls">
  <a href="/movies/<%= @movie.id %>/delete">Delete</a>
  <a href="/movies/<%= @movie.id %>/edit">Edit</a>
</div>
